<template>
  <q-page class="flex flex-center" style="width: 357px; height: 600px">aaa
    <a href="index.html" target="_blank">ZASASDASD</a>
    <router-link to="/error">404</router-link>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
